.mat-card{
    text-align: -webkit-center;
    margin:100px;
}

.mat-card-header{
    display: block;
}
.login{
    text-align: -webkit-center;
}
.error{
    font-size: 10px;
    color: #f44336;
}
.example-full-width{
    width:100%;
    max-width: 80%;
}
.mat-form-field{
    display: contents;
}