<div class="mb-20" fxLayout="row" fxLayout.lt-md="column" fxFlex fxLayoutGap="10px">
    <div fxFlex>
      <button mat-raised-button color="primary">Sale 10%</button>
      <!-- <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'Grocery'"></app-stat> -->
    </div>
    <div fxFlex>
      <button mat-raised-button color="primary">Sale 20%</button>
      <!-- <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Medical'"></app-stat> -->
    </div>
    <div fxFlex>
        <button mat-raised-button color="primary">Sale 30%</button>
        <!-- <app-stat [bgClass]="'danger'" [icon]="'dashboard'" [count]="13" [label]="'Grocery'"></app-stat> -->
      </div>
      <div fxFlex>
        <button mat-raised-button color="primary">Sale 40%</button>
        <!-- <app-stat [bgClass]="'warn'" [icon]="'view_list'" [count]="12" [label]="'Medical'"></app-stat> -->
      </div>
  </div>
  